<div class="row">
  <div class="col-md-6">
    <h1>Look Good Feel Good</h1>
    <p class="lead">
      Una's Barbershop specializes in precision haircuts and straight razor shaves customized to suit any man's character. Founder Una captures the balance
      between old school sophistication and innovative charm, creating a classic yet contemporary home for the modern gentleman.
    </p>
    <h1>Times</h1>
    <ul>
      <li>Monday - Saturday: 9:00 am - 6:00 pm</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to image_tag("unas_barber_shop_allthree.jpg", :class => "slide_show") %>
      <div class="carousel-caption">

      </div>
    </div>
        <div class="item">
          <%= link_to image_tag("unas_barber_shop_slide1.jpg", :class => "slide_show") %>
          <div class="carousel-caption">
          </div>
        </div>
          <div class="item">
            <%= link_to image_tag("unas_barber_shop_austin.jpg", :class => "slide_show") %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= link_to image_tag("unas_barber_shop_mainpage.jpg", :class => "slide_show") %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= link_to image_tag("unas_barber_shop_flattop.jpg", :class => "slide_show") %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= link_to image_tag("unas_barber_shop_thecrew.jpg", :class => "slide_show") %>
            <div class="carousel-caption">
            </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
