<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home", root_path, :class =>"navbar-brand" %>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Products", static_product_path %></li>
        <li><%= link_to "Schedule Appointment", static_schedule_appointment_path %></li>
        <li><%= link_to "About", static_about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to image_tag("unas_barber_shop_facebook.jpg", :class => "facebook_icon", :alt => "Facebook"), "http://www.facebook.com/pages/Unasbarbershop/1408347072787551", :target => "_blank"  %>
        <%= link_to image_tag("unas_barber_shop_instagram.jpg", :class => "facebook_icon", :alt => "Instagram"), "http://http://instagram.com/unasbarbershop", :target => "_blank"  %>
      </ul>

    </div>
  </div>
</nav>
