<!DOCTYPE html>
<html>
<head>
  <title>BarberShop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="application.css.scss">
  <link rel="stylesheet" href="static.css.scss">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
      <%= render 'layouts/navbar' %>
      <%= link_to image_tag("unas_barber_shop_header.jpg", :class => "img_header") %>
      <h1 class="text-center">UNA'S BARBER SHOP</h1>
<%= yield %>


    <footer>&copy;2014 Una's Barber Shop // 1015 South State Street Suite A Orem Utah // 801-607-1072 una.cuts@facebook.com</footer>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>
